@model Project.Models.PlaneViewModel

@{
    ViewBag.Title = "GetPlaneByMSN";
}

<h2>GetPlaneByMSN</h2>

<div>
    <h4>PlaneViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ModelNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModelNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManufacturingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManufacturingDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
